<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>RESET ME</h1>
    </div>
    <div class="col-md-8" style="text-align:right">
      <%= link_to raw('<i class="glyphicon glyphicon-plus"></i>'), new_site_path, :class => 'btn btn-success btn-circle btn-lg' %>
      <button type="button" class="btn btn-primary btn-circle btn-lg" onclick="javascript:alert('no funca')"><i class="glyphicon glyphicon-list"></i></button>
      <button type="button" class="btn btn-default btn-circle btn-lg" onclick="javascript:alert('no funca')"><i class="glyphicon glyphicon-log-out"></i></button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @sites.each do |site| %>
      <%
          color = ''
          label = ''

          if site.reset_at < DateTime.now - 2.months
            color = 'offer-danger'
            label = 'bad'
          elsif site.reset_at < DateTime.now - 1.months
            color = 'offer-warning'
            label = 'warn'
          else
            color = 'offer-success'
            label = 'good'
          end
      %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="offer <%= color %>">
          <div class="shape">
            <div class="shape-text">
              <%= label %>
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              <img src="<%= site.logo_url%>" alt="<%= site.name%>" class="img-circle"> 
              <%= site.name.titleize %>
            </h3>
            <p>
              <strong>username:</strong><em> <%= site.username %></em><br />
              <strong>age:</strong><em> <%= time_ago_in_words(site.reset_at.to_time) %></em>
            </p>
            <p class="options">
              <a href="<%= site.url %>" target="_blank" class="btn btn-primary btn-lg btn-block">Change Password</a>
            </p>
            <p class="options">
              <%= link_to 'Show', site, :class => "btn btn-xs" %>
              <%= link_to 'Edit', edit_site_path(site), :class => "btn btn-xs" %>
              <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' }, 
                          :class => "btn btn-xs" %>
              <%= link_to 'Reset', reset_url(id: site.id), method: 'post', data: { confirm: 'Are you sure?' }, 
                          :class => "btn btn-xs" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

